*{
    box-sizing: border-box;
    text-transform: capitalize;
    padding: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
:root {
    --timing: 0.3s;
    --first-color: #10cab7;
    --second-color: #24484f;
    --bg-color: #f6f6f6;
    --p-color: #848484;
    --h2-color: #2c4755;
    --h3-color: #1f2021;
    --shadow-color: #ebebeb;
}
.header {
    & .navbar {
        & nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0 10px;
            height: 100%;
            width: 100%;
            background-color: #fff;
        }
    }
}
.logo>a>img{
    width: 60px;
    height: 24px;
}
.bar>i{
    width: 20px;
    height: 20px;
    color: #1f2021;
    font-size: 1.7rem;
}
.head-content {
    text-align: center;
    background-color: var(--bg-color);
    padding-top: 30px;
    min-height: 50vh;
}
.head-content>h1{
    color: var(--first-color);
    font-size: 40px;
    font-weight: 800;
}
p{
    color: var(--p-color);
}
h2{
    color: var(--h2-color);
}
h3{
    color: var(--h3-color);
}
.head-content>p{
    line-height: 1.8;
    margin-top: 35px;
}
i{
    color: var(--first-color);
    font-size: 3rem;
    cursor: pointer;
}
.obj-content{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        gap: 25px;
}
.box {
    width: fit-content;
    padding: 30px 50px;
    text-align: center;
}
.box img{
    display: flex;
    align-self: flex-start;
    justify-self: center;
}
.main-title {
    text-align: center;
    position: relative;
    
}
.main-title>h2{
    font-size: 7rem;
    font-weight: 900;
    color: #ebebeb;
}
.main-title>p{
    position: absolute;
    left: 40%;
    bottom: 5%;
    font-size: 1.3rem;
}
.boxs {
    
    flex: 2;
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(34%, 1fr));
     gap: none;
}
.boxs .box{
    position: relative;
    width: fit-content;
    display: flex;
}
.boxs .box i{
font-size: 2rem;
top: 50px;
left: 0px;
position: absolute;
}
.boxs .box , .box.info{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin-left: 50px;
}
.boxs .box h2{
    top: 0px;
    margin-left: 0px;
}
.boxs .box p{
    width: 80%;
    margin-top: 40px;
    margin-left: 0px;
    text-align: left;
    line-height: 1.5;
}
.services-content{
    display: flex;
}
.effect {
    flex: 1;
    background-color: var(--bg-color);
    box-shadow: 0px 5px 2px var(--shadow-color);
    max-width: 300px;
    position: relative;
    left: -50px;
}
.effect::after {
    content: '';
    position: absolute;
    right: -30px;
    top: -15%;
    height: 130%;
    background-color: var(--second-color);
    width: 100px;
    z-index: -1;
}
.cards{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    column-gap: 2%;
    row-gap: 5%;
}
.portfolio {
    padding: 0 50px;
    background-color: #fafafa;
}
.card img{
    width: 100%;
}
.card p{
    padding: 10px;
}
.portfolio-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-content {
        margin: 80px 200px 0;
        margin-bottom: 150px;
        display: flex;
        justify-content: center;
}

.about-content .image {
    width: 45%;
    margin-right: 10%;
    position: relative;
}
.about-content img {
    max-width: 100%;
    width: 80%;
    height: 440px;
    position: relative;
    box-shadow: 0px 5px 0px #eeefef;
}
.about-content .image::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80%;
    background-color: var(--first-color);
    z-index: -1;
    right: 40px;
    top: -10%;
}
.about-content .image::after {
    content: "";
    position: absolute;
    bottom: 10%;
    right: -31px;
    height: 20%;
    width: 40%;
    background-color: var(--first-color);
    z-index: -1;
}
.about-content .about-text{
    width: 45%;
}
.about-content .about-text .p {
    color: #334752;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 50px;
}
.about-content .about-text .p2{
    position: relative;
    }
.about-content .about-text .p2::before{
    content: "";
    position: absolute;
    top: 0;
left: 0;
width: 50%;
margin: -10px 0;
height: 2px;
background-color: var(--first-color);
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    padding: 20px;
    margin: 0;
}
footer .container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
footer .container p b {
    color: var(--first-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}
@media (max-width: 767px) and (max-width:996px){
    i{
        font-size: 2rem;
    }
    .contact-info{
        margin-left: 10px !important;
    }
.effect{
    display: none;
}
.boxs{
     grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
}
.boxs .box{
    display: flex;
    text-align: left;
    align-items: flex-start;
    padding-left:10px ;
}
.boxs .box i{
    position: absolute;
    top: 20px;
    left: -35px;
}
.boxs .box h2{
position: absolute;
top: 0;
margin-left: 0px;
}
.boxs .box > p{
    line-height: 1.5;
    text-align: left;
    width: 90% !important;
}
.services-content{
    display: flex;
}
.main-title h2{
    font-size: 4rem;
}
.main-title p{
    left: 20%;
    bottom: -10px;
    font-size: 1rem;
}
.portfolio-content{
    width: 100%;
display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0;
}
.card img{
width: 100%;
}
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
                row-gap: 5%;
}
.about-content .image{
    display: none;
}
.about-content .about-text{
    width: 100%;
    margin-left: 10px;
}
.container .main-title{
    margin-top:90px;
}
.about-content{
    width: 100%;
    margin: 0;
}

.about-content p{
    line-height: 1.7;
}
}
i:hover{
    scale: 1.2;
    transition: .5s;
}
i{
    transition: .5s;
}
.contact-info{
    margin-left: 200px;
}
.contact-info h3{
        text-transform: none;
        padding-left: 10px;
        margin-bottom: 20px;
        color: var(--first-color);
        font-size: 1.5rem;
        font-weight: bold;

}
.contact-info span{       
             display: inline-block;
    text-transform: capitalize;
}
.contact{
    background-color: #fafafa;
}
.social{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.icons i{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 20px;
    color: var(--first-color);
}
